# Ignorar a pasta de configurações locais
.vscode/
build/
dist/

# Ignorar arquivos temporários
*.log
*.tmp

# Ignorar ambiente virtual Python
.venv/

# Ignorar arquivos de cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd   

# Ignorar arquivos de configuração do sistema
.DS_Store
Thumbs.db   

# Ignorar uv.lock
uv.lock


